.App {
  width: 100%;
  height: 100%;
  background-image: var(--gradient-colors);
  display: grid;
  grid-template-rows: 100px repeat(4, 850px);
  color: white;
}

.navbar {
  grid-row: 1 / 2;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: relative;
}


.navbar-specialDesign > img {
  cursor: pointer;
  margin-top: 10%;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.navbar-specialDesign > img:hover {

}

.navbar-elements-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.navbar-elements-container > a {
  letter-spacing: 1.5px;
  display: inline-block;
  font-weight: 500;
  padding: 12px 24px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--vibrant-magenta-galaxy);
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.navbar-elements-container > a:nth-child(3) {
  background-color: var(--vibrant-magenta-galaxy);
}

.navbar-elements-container > a:hover:nth-child(3) {
  background-color: var(--vibrant-magenta-galaxy-hover);
}

.navbar-elements-container > a:hover {
  cursor: pointer;
  background-color: var(--galaxy-button-hover);
  transform: scale(1.1) translate(5px) ;
}

.introduction {
  width: 100vw;
  position: relative;
  grid-row: 2 / 3;
  display: grid;
  grid-template: 40% 60% / 40% 60%;
}

.introduction-header-text {
 display: flex;
 position: relative;
 justify-content: flex-end;
 flex-direction: column;
 gap: 30px;
 grid-area: 1 / 1 / 2 / 2;
}

.introduction-header-text > * {
  padding-left: 15%;
}

.introduction-header-text > h1 {
  font-size: 4em;
}

.introduction-header-text > div {
  position: relative;
  height: 30px;
  display: inline-block;
}

.introduction-header-text > div > span {
  font-size: 30px;
}

.introduction-header-text p {
  display: inline-block;
  font-size: 2em;
}


.introduction-Canvas-container {
  justify-self: flex-end;
  width: 40vw;
  padding-right: 20%;
  grid-area: 2 / 1 / 3 / 3;
  transition: 0.7s;
}

.wave-hand {

}

.about {
  grid-row: 3 / 4;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 30% 70%;
}

.about-info-container {
  padding-left: 6%;
}

.about-info-container > h1 {
  font-size: 3rem;
}

.about-info-container > p {
  color: lightgray;
  padding-right: 30%;
  font-size: 1.5rem;
}

.about-cards-container {
  grid-row: 2 / 3;
  width: 90%;
  justify-self: center;
  display: grid;
  grid-template: 100% / repeat(4, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.about-card-canvas {
  height: 70%!important;
}

.about-card {
  border: 5px solid var(--black-galaxy);
  border-radius: 10px;
  background-image: var(--gradient-phone);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.about-card {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}