.App {
  width: 100%;
  height: 100%;
  background-image: var(--purple-to-blue);
  display: grid;
  grid-template-rows: 100px repeat(4, 900px);
  color: white;
  filter: saturate(150%);
}

.navbar {
  grid-row: 1 / 2;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: relative;
}

.navbar-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-elements-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.navbar-elements-container > a {
  letter-spacing: 1.5px;
  display: inline-block;
  font-weight: 500;
  padding: 12px 24px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border: 2px solid var(--text-yellow);
}

.navbar-elements-container > a:nth-child(3) {
  background-color: var(--text-yellow);
  color: black;
  font-weight: 700;
}

.navbar-elements-container > a:hover:nth-child(3) {
  filter: brightness(102%);
}

.navbar-elements-container > a:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.03) translate(5px);
}

.introduction {
  width: 100vw;
  grid-row: 2 / 3;
  display: grid;
  grid-template: 40% 60% / 50% 50%;
}

.geometric-shape {
  position: absolute;
  transform: scale(3) rotate(-40deg);
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  z-index: -1;
}


.introduction-header-text {
  white-space: nowrap;
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  gap: 30px;
  grid-area: 1 / 1 / 2 / 2;
}

.introduction-header-text > * {
  padding-left: 15%;
}

.introduction-header-text > h1 {
  font-size: 4em;
}

.introduction-header-text > div {
  position: relative;
  height: 30px;
  display: inline-block;
}

.introduction-header-text > h1 > span:nth-child(2) {
  font-size: 50px;
  font-weight: 100;
}

.introduction-header-text p {
  display: inline-block;
  font-size: 2em;
}

.introduction-Canvas-container {
  filter: brightness(50%) hue-rotate(30deg);
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding-right: 10%;
  grid-area: 2 / 1 / 3 / 3;
  transition: 0.7s;
}

.blurry-design {
  position: absolute;
  right: 17%;
  top: 14%;
  background-color: white;
  width: 25%;
  aspect-ratio: 1 / 1;
  filter: blur(450px);
}

.about {
  grid-row: 3 / 4;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 30% 70%;
  gap: 20%;
}

.about-info-container {
  padding-left: 7.5%;
}

.about-info-container > h1 {
  font-size: 4em;
}

.about-info-container > ul {
  color: lightgray;
  padding-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
  padding-right: 30%;
  font-size: 1.5rem;
}

.about-info-container > ul li {
  padding-top: 15px;
  padding-left: 0.4%;
  list-style: none;
}

.about-info-container > ul li:before {
  content: '🦁 ';
}


.about-cards-container {
  grid-row: 2 / 3;
  width: 90%;
  justify-self: center;
  display: grid;
  grid-template: 100% / repeat(4, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.about-card-canvas {
  height: 70% !important;
}

.about-card {
  border: 5px solid;
  border-image-source: var(--purple-to-blue);
  border-radius: 10px;
  background-image: var(--gradient-phone);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.about-card {
}
