* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --black-galaxy: #000000;
  --deep-violet-galaxy: #130029 ;
  --dark-violet-galaxy: #330766 ;
  --rich-violet-galaxy: #571b94 ;
  --vibrant-magenta-galaxy: #8217c4;
  --vibrant-magenta-galaxy-hover: #5f077d;
  --galaxy-button: #28183b;
  --galaxy-button-hover: #3e255d;
  --gradient-colors: linear-gradient(to right, var(--deep-violet-galaxy),var(--dark-violet-galaxy) ,var(--rich-violet-galaxy));
  --gradient-phone: linear-gradient(to top,var(--deep-violet-galaxy),var(--dark-violet-galaxy) ,var(--rich-violet-galaxy));
}

body,
html {
  width: 100%;
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#root {
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.span-important {
  color: var(--vibrant-magenta-galaxy);
}




